@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.head {
  text-align: center;
  font-size: 60px;
  letter-spacing: 5px;
  padding-top: 130px;
  padding-bottom: 100px !important;

  font-family: "Acme", sans-serif;
}

.innerCont {
  font-size:30px;
  color:white;
  padding-bottom: 200px;
}

.col{
  text-align: center;
  color: black;
}

.imgWrapper{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height:250px;
  width:250px;
}

.coordinatorImg{
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.imgHover{
  background-color: aquamarine;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.imgHover:hover{
  visibility: visible;
}

