@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

.aboutCont {
  color: white;
  text-align: center;
}

.aboutHead {
  padding-top: 80px;
  font-size: 80px;
  font-family: "Squada One", cursive;
  letter-spacing: 5px;
}

.aboutimg {
  margin-top: 60px;
  height: 500px;
  width: 500px;
}

.aboutcontent {
  text-align: left;
  padding-top: 110px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 600px) {
  .aboutimg {
    margin-top: 60px;
    height: 250px;
    width: 250px;
  }
  .aboutcontent {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
