.body {
  background-color: #05386b;
  text-decoration-color: antiquewhite !important;
}

.events {
  background-color: #e8417c;
}

.contactus {
  background-color: #05386b;
}

.coordinators {
  background-color: #5cdb95;
}
